SPRING_PROFILES_ACTIVE=local

MAR_DB_HOST=localhost
MAR_DB_PORT=5432
MAR_DB_NAME=mar
MAR_DB_USERNAME=mar_app
MAR_DB_PASSWORD=mar_app_local_password

MAR_CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
